/**
*  ReaderTools Style
*/
.reader-tools-wrapper {
    position: fixed;
    right: -70px;
    bottom: 26%;
    color: #fff;
    border-radius: 5px 0 0 5px;
    background-color: rgba(0, 0, 0, .8);
    box-shadow: -2px 0 6px rgba(0, 0, 0, .3);
    z-index: 100;
    transition: 'background-color' .6s cubic-bezier(0.4, 0, 1, 1), color .5s cubic-bezier(0.4, 0, 1, 1), right .2s;
    overflow: hidden;
}
.reader-tools-panel {
    margin: 0;
    padding: 0;
}
.reader-tools-panel li {
    position: relative;
    padding: 18px 0;
    width: 66px;
    text-align: center;
    list-style-type: none;
    transition: .3s;
    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
    &:active {
        
    }
    &:first-child {
        padding-bottom: 6px;
    }
    &:last-child {
        padding-top: 6px;
    }
    .iconfont {
        font-size: 24px;
        opacity: .5;
    }
}